.clickable {
    cursor: pointer;
}
.font_bigger {
    font-size: 1.5rem;
}

img.cube_card_img {
    width: 100%;
    max-width: 100px;
}

.no_cases_selected {
}
.some_cases_selected {
    color: var(--bs-black);
    background-color: var(--bs-warning);
}
.all_cases_selected {
    background-color: var(--bs-success)
}
